<div class="mdc-layout-grid__cell--inner">
  <div class="mdc-layout-grid__cell--cell--span-2">
    <button mat-raised-button
            color="primary"
            (click)="navigateToCreate()">Create Tutorial</button>
  </div>
  <div class="mdc-layout-grid__cell--span-10">
    <h3>Tutorials</h3>
    <div *ngIf="data$ | async as data">
      <div *ngIf="!data.loading">
        <mat-card *ngFor="let tutorial of data.tutorials">
          <mat-card-title> {{ tutorial.name }} </mat-card-title>
          <mat-card-content>
            <a [href]="tutorial.url"
               target="_blank"> {{tutorial.url}}</a>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button
                    color="warn"
                    (click)="onRemove(tutorial)"
                    style="margin-left: 1rem">Remove</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
